numpy<2.0
scipy
torch
torchaudio
librosa==0.10.2
numba
transformers>=4.43,<=4.50
sentencepiece
rotary_embedding_torch
x_transformers
pypinyin
cn2an
jieba
split-lang
fast_langdetect>=0.3.1
ffmpeg-python
av>=11
PyYAML
tqdm
psutil
chardet